<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!-- EN: Springfield M1903A3 -->
  <Gun_Springfield_M1903A3_RWP.label>Springfield M1903A3</Gun_Springfield_M1903A3_RWP.label>
  <!-- EN: . -->
  <Gun_Springfield_M1903A3_RWP.description>.</Gun_Springfield_M1903A3_RWP.description>
  <!-- EN: stock -->
  <Gun_Springfield_M1903A3_RWP.tools.stock.label>stock</Gun_Springfield_M1903A3_RWP.tools.stock.label>
  <!-- EN: barrel -->
  <Gun_Springfield_M1903A3_RWP.tools.barrel.label>barrel</Gun_Springfield_M1903A3_RWP.tools.barrel.label>
  <!-- EN: Springfield M1903A3 -->
  <Gun_Springfield_M1903A3_RWP.verbs.Verb_Shoot.label>Springfield M1903A3</Gun_Springfield_M1903A3_RWP.verbs.Verb_Shoot.label>
</LanguageData>
